################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/oop2-ex04/v17
/out/build/x64-Debug
/.vs
